<!DOCTYPE html>
<html ng-app="artStore">
  <head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="main.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="list-group" ng-controller="StoreController as store">
   
    <!--Product Container -->
    <div class="list-group-item" ng-hide="store.product.soldOut" ng-repeat="product in store.products">
      <h1> {{"Hello, ArtStore!"}} </h1>
      <h1> {{product.name}} </h1>
      <h2> <em class="pull-right">{{product.price | currency}} </em></h2>
      <p> {{product.description}} </p>
      <button ng-show="store.product.canPurchase">Add to Cart</button>
   
    <!-- Image Gallery  -->
      <div class="gallery" ng-controller="GalleryController as gallery" ng-show="product.images.length">
        <div class="img-wrap">
          <img class="main-img img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current]}}" />
        </div>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" ng-click="gallery.setCurrent(image)" />
          </li>
        </ul>
      </div>
     
      <!-- tabs  -->
      <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{active: tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{active: tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Style</a></li>
          <li ng-class="{active: tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <div ng-show="tab.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>Style</h4>
          <blockquote>{{product.style}}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Reviews</h4>
          <!--  Product Reviews List -->
          <ul>
            <li ng-repeat="review in product.reviews">
              <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
               <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
              </blockquote>
            </li>
          </ul>
          <!-- Review Form-->
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <!-- Live Preview-->
            <blockquote>
              <strong>{{reviewCtrl.review.stars}} Stars</strong>
              {{reviewCtrl.review.body}}
              <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
            </blockquote>
            <!-- Submit a Review-->
            <h4>Submit a Review</h4>
            <fieldset class="form-group">
              <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                <option value="">Rate the product</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" required/>
            </fieldset>
            <fieldset class="form-group">
              <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
          </form>
        </div>
  </body>
</html>


  


